<div class="d-flex justify-content-center">
    <!-- Footer -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">

        
      <!-- Section: Text -->
      <section class="mb-4">
        <p class="Descricao">
            ©2023, Todos os direitos reservados. Contato: contato@banggaming.org Política de Privacidade Política de Frete Política de Reembolso Termos de Serviço Vagas.
        </p>
      </section>
      <hr class="hrcolor">

      <p class="RedesSociais">REDES SOCIAIS</p>
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/bang__gg" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/banggaming.gg/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- TikTok -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.tiktok.com/@bang_.gg" role="button"
          ><i class="fab fa-tiktok"></i
        ></a>

        <!-- Youtube -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-youtube"></i
        ></a>

        <!-- Twitch -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitch.tv/banggaming_" role="button"
          ><i class="fab fa-twitch"></i
        ></a>
      </section>

      <img src="../../../assets/ISOLOGO.svg" alt="" class="IconFooter">
  
    </div>
  
  </footer>
</div>
  <!-- Footer -->