<div class="container">
    <div class="row">
        <div  class="col-6 coluna1">
                    <h2 class="ConhecaBang">CONHEÇA A BANG</h2>
                    <p class="text">VENHA SABER MAIS SOBRE A NOSSA ORGANIZAÇÃO DE ESPORTES ELETRÔNICOS.</p>
                    <a href="">
                        <button class="BtnSaibaMais">
                            <img src="./../../../assets/ButtonSaibaMais.png" alt="">
                        </button>
                    </a>
        </div>
        <div class="col-md-6">
            <img class="img-fluid img2" src="./../../../assets/imgHome1.jpg" alt="">
        </div>
    </div>
</div>