<div class="container">
    <div class="card">
        <div class="card-header">
            Inscrições Bang University
        </div>
        <div class="card-body">
           <div class="linha1">
            <div class=" Nome col-md-6">
                <label for="exampleInputEmail1" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="exampleInputNome" aria-describedby="text" placeholder="Nome Completo">
               </div>
    
               <div class=" Nascimento col-md-4">
                <label for="exampleInputEmail1" class="form-label">Data Nascimento</label>
                <input type="date" class="form-control" id="exampleInputData" aria-describedby="date">
               </div>
           </div>

           <div class="linha2">
            <div class="Cidade col-md-1">
                <fieldset disabled>
                    <label for="exampleInputEmail1" class="form-label">Cidade</label>
                        <select class="form-select" aria-label="Default select example">
                        <option selected>Selecione...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                  </select>
                </fieldset>
           </div>
           
           <div class="CEP col-md-4">
            <label for="exampleInputCEP" class="form-label">CEP</label>
            <input type="text" class="form-control" id="exampleInputext" aria-describedby="text" placeholder="00000-000">
           </div>
        </div>

        <div class="linha3">
                <div class="Bairro col-md-4">
                    <fieldset disabled>
                        <label for="exampleInputBairro" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="exampleInputext" aria-describedby="text" placeholder="Exemplo: Santa Luzia  ">
                    </fieldset>
                </div>

            <div class="Rua col-md-4">
                <fieldset disabled>
                    <label for="exampleInputRua" class="form-label">Rua</label>
                    <input type="text" class="form-control" id="exampleInputext" aria-describedby="text" placeholder="Exemplo: Conde  ">
                </fieldset>
            </div>

            <div class="NºResidência col-md-4">
                <label for="exampleInputNºResidência" class="form-label">Nº Residência</label>
                <input type="text" class="form-control" id="exampleInputext" aria-describedby="text" placeholder="Exemplo: 321  ">
            </div>
        </div>

        <div class="linha4">
            <div class="Instituicao col-md-6">
                <label for="exampleInputInstituição" class="form-label">Instituição de Ensino</label>
                <input type="text" class="form-control" id="exampleInputext" aria-describedby="text" placeholder="Exemplo: Universidade Católica do Salvador     ">
            </div>

            <div class="Comprovante col-md-6">
                <label for="exampleInputInstituição" class="form-label">Comprovante de Mátricula</label>
                <input type="file" class="form-control" id="exampleInpufile" aria-describedby="file">
            </div>
        </div>
      </div>

        <div class="button d-grid gap-2">
            <button class="btn btn-primary" type="button">Inscrever-se</button>
      </div>
</div>